@media (max-width:900px)  {

    article{

        h1{
            font-size: 2.5rem;
        }

    }   
}


@media (max-width:600px)  {

    header{
        height: 5%;
    }

    #root{
        height: 90%;
        width: 90%;
    }

    article{

        h1{
            font-size: 2rem;
        }

    }   

    button{
        font-size: 12px;
    }
}
